<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Automation - Test Run">
        <classes>
            <class name="com.visible.runner.TestRunner"/>
        </classes>
    </test>
    <test name="Automation - Test Run Retry">
        <classes>
            <class name="com.visible.runner.TestRunner_Retry"/>
        </classes>
    </test>
</suite>